<nav id="menubar">
    <div id="avatar">
        <div id="avatar-bg">
            <p id="avatar-letter"><%= userInfo.initial %></p>
        </div>
    </div>
    <div id="menu-items">
        <a id="home-btn" href="/admin">Hem</a>
        <a id="schedules-btn">Scheman</a>
        <a id="calendar-btn">Kalender</a>
        <a id="users-btn">Användare</a>
        <a id="profile-btn" href="/admin/profile">Profil</a>
    </div>
    <div id="settings">
        <img id="settings-button" src="/images/settings.svg" onclick="showSettings()">
    </div>
</nav>
