<nav id="menubar">
    <div id="avatar">
        <div id="avatar-bg">
            <p id="avatar-letter"><%= userInfo.initial %></p>
        </div>
    </div>
    <div id="menu-items">
        <a id="home-btn" href="/hub">Hem</a>
        <div id="subject-btn">
            Ämnen ↴
            <div id="subject-entries">
                da
                <br>
                da 
                <br>
                da
            </div>
        </div>
        <a id="schedules-btn">Scheman</a>
        <a id="schedules-btn">Kalender</a>
        <a id="schedules-btn" href="/hub/profile">Profil</a>
    </div>
    <div id="settings">
        <img id="settings-button" src="/images/settings.svg" onclick="showSettings()">
    </div>
</nav>