<div id="userInfo">
    <table>
        <tr>
            <td>
                Användarnamn
            </td>
            <td>
                <%= userInfo.name %>
            </td>
        </tr>
        <tr>
            <td>
                Epost
            </td>
            <td>
                <%= userInfo.email %>
            </td>
        </tr>
        <tr>
            <td>
                Tema
            </td>
            <td>
                <%= userInfo.theme %>
            </td>
        </tr>
    </table>
</div>