/* REMOVE PESKY MARGINS! */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', 'Roboto', 'Helvetica', 'sans', 'sans-serif';
}
/* Variables */
:root {
    --primary: #21DEFF;
}

body {
    display: grid;
    grid-template-areas:    'header' 
                            'form';
    grid-template-columns: auto;
    grid-template-rows: 20vh 80vh;
    height: 100vh;
    font-size: 14pt;
}
body > header {
    text-align: center;
    grid-area: header;
    margin: auto;
    font-size: 2.5em;
    font-weight: bold;
}
body > form {
    grid-area: form;
    margin: 0 auto;
    padding: 2em 5%;
    width: 30vw;
    height: fit-content;
    background: #111C;
    border-radius: .3em;
    display: grid;
    grid-template-areas:    'avatar avatar'
                            'user user'
                            'pass pass'
                            'login forgot';
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 35% 65%;
}
body > form > svg {
    width: auto; height: 14em;
    margin: 1em auto;
    grid-area: avatar;
}
body > form > svg#person > * {
    fill: var(--primary);
}
body > form > input#user, body > form > input#pass {
    padding: .75em;
    margin: .5em 0;
    border: none;
    border-radius: .3em;
    font-size: 1em;
}
body > form > input#user {
    grid-area: user;
}
body > form > input#pass {
    grid-area: pass;
}
body > form > button#login-btn {
    border: none;
    border-radius: .3em;
    font-size: 1em;
    padding: .75em;
    margin: .5em 0;
    background: var(--primary);
    cursor: pointer;
}
body > form > a#forgot {
    grid-area: forgot;
    margin: auto 1em;
    color: var(--primary);
}