<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/styleHead') %>
    <title>My Profile</title>
</head>
<body>
    <%- include('../../partials/hubBar') %>
    <main id="container" class="profile">
        <%- include('../../partials/profile') %>
    </main>
    <%- include('../../partials/settings') %>
    <script src="/scripts/loadVars.js"></script>
</body>
</html>