:root {
    --bg-clr: #000;
    --mbg-clr: #111;
    --mg-clr: #888;
    --mfg-clr: #eee;
    --fg-clr: #fff;
    --trans: #8884;
}
.cross {
    filter: invert(1) hue-rotate(180deg);
}
#settings-button {
    filter: invert(1);
}
