main.profile {
    display: grid;
    grid-template-areas: 'user-info';
    margin: 2em;
}
main.profile > div#user-info {
    grid-area: user-info;
    background: var(--mbg-clr);
    padding: 1em
}
main.profile > div#user-info > table {
    width: fit-content;
    margin: 1em;
    border-collapse: collapse;
}
main.profile > div#user-info > table td {
    border: 0;
    padding: 1em 3em;
}
main.profile > div#user-info > table tr {
    border-bottom: .05em solid var(--mg-clr);
    font-size: 1em;
}
main.profile > div#user-info > table tr:last-child {
    border-bottom: 0;
}
main.profile > div#user-info > table tr:nth-child(odd) {
    background: var(--bg-clr);
}