:root {
    --bg-clr: #fff;
    --mbg-clr: #eee;
    --mg-clr: #888;
    --mfg-clr: #111;
    --fg-clr: #000;
    --primary: #21DEFF;
}
main.home {
    display: grid;
    grid-template-areas: 'news important messages';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
main.home > section {
    background: var(--mbg-clr);
    border-radius: .3em; 
    padding: 1em; 
    display: grid;
    grid-template-areas: 'heading' 'content';
    grid-template-rows: auto 1fr;
}
main.home > section#news {
    grid-area: news;
    margin: 1em 1em 1em 2em;
}
main.home > section#important {
    grid-area: important;
    margin: 1em 1em 1em 1em;
}
main.home > section#messages {
    grid-area: messages;
    margin: 1em 2em 1em 1em;
}
main.home > section > h1 {
    margin: 0 0 .5em 1em;
    font-size: 1.5em;
    grid-area: heading;
}
main.home > section > div#content {
    grid-area: content;
    background: var(--bg-clr);
    height: 1fr;
}