<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/forgotPass/main.css">
    <link rel="stylesheet" type="text/css" href="/css/forgotPass/phone.css">
    <title>Kolla din mail!</title>
</head>
<body>
    <div class="check">
        <p>
            Vi har skickat ett mejl till din e-post address. 
            Om det inte har kommit fram ett mejl till dig,
            be en administratör att ändra ditt lösenord.
        </p>
    </div>
    <script src="/scripts/signInPage.js"></script>
</body>
</html>