<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <title>Var god och logga in!</title>
</head>
<body>
    <h1>Du är inte inloggad!</h1>
    <p>
        Vänligen logga in. <br>
        <a href="/">Klicka här för att gå till logga-in-skärmen</a>
    </p>
</body>
</html>