/* REMOVE PESKY MARGINS! */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', 'Helvetica', 'sans', 'sans-serif';
}
/* Variables */
:root {
    --primary: #21DEFF;
}

body {
    display: grid;
    grid-template-areas:    'header' 
                            'form';
    grid-template-columns: auto;
    height: 100vh;
    font-size: 14pt;
    background: var(--primary);
}
body > header {
    text-align: center;
    grid-area: header;
    margin: auto;
    font-size: 2.5em;
}
body > form {
    grid-area: form;
    margin: 0 auto;
    padding: 2em 5em;
    width: 30vw;
    height: fit-content;
    background: #111C;
    border-radius: .3em;
    display: grid;
    grid-template-areas:    'info'
                            'user'
                            'send';

}
body > form > p {
    font-size: 1em;
    color: white;
    margin: 1em;
}
body > form > input#user {
    grid-area: user;
    padding: .75em;
    margin: .5em 0;
    border: none;
    border-radius: .3em;
    font-size: 1em;
}
body > form > input[type=submit] {
    border: none;
    border-radius: .3em;
    font-size: 1em;
    padding: .75em;
    background: var(--primary);
    grid-area: send;
}