<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/styleHead.ejs') %>
    <title>Test - Schema</title>
</head>
<body>
    <%- include('../../partials/adminBar.ejs') %>
    <main>
        <div id="schedule-container">

        </div>
    </main>
    <script src="/scripts/schedules.js"></script>
    <%- include('../../partials/settings.ejs') %>
    <script src="/scripts/loadVars.js"></script>
</body>
</html>