body.sign-in-page {
    display: grid;
    grid-template-areas: 'header'
                         'form';
    grid-template-rows: 25% 75%;
    grid-template-columns: 100%;
    height: 100%;
    width: auto;
}
body.sign-in-page > header {
    text-align: center;
    grid-area: header;
    margin: auto;
    font-size: 2.5em;
    font-weight: bold;
}
body.sign-in-page  > form {
    grid-area: form;
    margin: 0 auto;
    padding: 2em 5%;
    width: 30vw;
    height: fit-content;
    background: #111C;
    border-radius: .3em;
    display: grid;
    grid-template-areas:    'avatar avatar'
                            'user user'
                            'pass pass'
                            'login forgot';
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 35% 65%;
}
body.sign-in-page  > form > svg {
    width: 100%; height: auto;
    max-width: 12em;
    margin: 1em auto;
    grid-area: avatar;
}
body.sign-in-page  > form > svg#person > * {
    fill: var(--primary);
}
body.sign-in-page > form > input#user, body.sign-in-page > form > input#pass {
    background: var(--mbg-clr);
    padding: .75em;
    margin: .5em 0;
    border: none;
    border-radius: .3em;
    font-size: 1em;
}
body.sign-in-page > form > input#user:hover, body > form > input#pass:hover {
    background: var(--bg-clr);
    border: .1em solid var(--primary);
    padding: .65em;
    transition: .3s;
}
body.sign-in-page > form > input#user:focus, body > form > input#pass:focus{
    background: var(--bg-clr);
    border: .2em solid var(--primary);
    padding: .55em;
    transition: .3s;
}
body.sign-in-page  > form > input#user {
    grid-area: user;
}
body.sign-in-page  > form > input#pass {
    grid-area: pass;
}
body.sign-in-page  > form > button#login-btn {
    border: none;
    border-radius: .3em;
    font-size: 1em;
    padding: .75em;
    margin: .5em 0;
    background: var(--primary);
    cursor: pointer;
    transition: .3s;
}
body.sign-in-page  > form > button#login-btn:hover {
    border-radius: .5em;
    filter: brightness(1.1);
}
body.sign-in-page  > form > a#forgot {
    grid-area: forgot;
    margin: auto 1em;
    color: var(--primary);
}
body.sign-in-page  > form > p#cookies {
    color: white;
    background: #222C;
    padding: .5em;
    border-radius: .3em;
    position: absolute;
    right: 1em;
    bottom: 1em;
}