@font-face {
    src: url('../fonts/Lato-Regular.ttf');
    font-family: 'Lato';
}
/* REMOVE PESKY MARGINS! */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Noto Sans', 'Helvetica', 'sans', 'sans-serif';
}
/* Variables */
:root {
    --primary: #21DEFF;
}

body {
    display: grid;
    grid-template-areas:    'header' 
                            'form';
    grid-template-columns: auto;
    height: 100vh;
    background: var(--primary);
}
/* So that text scales a little...*/
@media screen and (min-width: 801px) {
    body {
        font-size: 10pt;
    }
}
@media screen and (min-width: 1000px) {
    body {
        font-size: 11pt;
    }
}
@media screen and (min-width: 1200px) {
    body {
        font-size: 12pt;
    }
}
@media screen and (min-width: 1500px) {
    body {
        font-size: 13pt;
    }
}
@media screen and (min-width: 1800px) {
    body {
        font-size: 14pt;
    }
}
@media screen and (min-width: 2500px) {
    body {
        font-size: 15pt;
    }
}
@media screen and (min-width: 3000) {
    body {
        font-size: 16pt;
    }
}
/* Looks much... Ugh... */


body > header {
    text-align: center;
    grid-area: header;
    margin: auto;
    font-size: 2.5em;
    font-weight: bold;
}
body > form {
    grid-area: form;
    margin: 0 auto;
    padding: 2em 5%;
    width: 30vw;
    height: fit-content;
    background: #111C;
    border-radius: .3em;
    display: grid;
    grid-template-areas:    'info'
                            'user'
                            'send';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
body > form > p {
    font-size: 1em;
    color: white;
    margin: 1em;
}
body > form > input#user {
    grid-area: user;
    padding: .75em;
    margin: .5em 0;
    border: none;
    border-radius: .3em;
    font-size: 1em;
    width: 100%;
}
body > form > input[type=submit] {
    border: none;
    border-radius: .3em;
    font-size: 1em;
    padding: .75em;
    margin: .5em 3em;
    background: var(--primary);
    grid-area: send;
    cursor: pointer;
}
body > div.check {
    position: absolute;
    width: 30vw;
    left: 35vw;
    color: white;
    background: #111C;
    border-radius: .3em;
    padding: 2em;
    margin-top: 40vh;
}
body > div.check > p {
    font-size: 1em;
}